.form-control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-control--no-label {
  display: block;
  margin-left: calc(100px + 15px);
}
.form-label {
  font-weight: 500;
  flex: 1 0 auto;
  justify-content: space-between;
  margin-right: 15px;
  text-align: right;
  width: 100px;
}
.form-field {
  width: 100%;
}
.form-field .half-input {
  width: 50%;
}

.field-age {
  width: 100%;
}
.field-age datalist {
  display: flex;
  justify-content: space-between;
}
.field-photo {
  align-items: center;
  background-color: #ddd;
  display: inline-flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.field-photo input {
  display: none;
}
.field-photo span {
  display: block;
}
.field-photo output,
.field-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.interests-list {
  display: flex;
}
.interests-item {
  margin-right: 15px;
  padding: 5px;
  background-color: #ddd;
}
.interests-item button {
  margin-left: 10px;
  background-color: transparent;
  border: 0;
}
